#op {
  display: block;
  background-color: rgba(148, 143, 143, 0.884);
  padding-block: 25px;
}
#text {
  border-radius: 10px;
  width: 75%;
  height: 70px;
}
#send {
  border-radius: 10px;
  width: 20%;
  height: 70px;
  margin-block: 2px;
  border-spacing: 2px;
}
#map {
  border-color: black;
}
